.wrapper {
  position: relative;
  width: 100%;
  height: 320px;
}

.background {
  background-image: url("https://www.gstatic.com/travel-frontend/animation/hero/flights_nc_4.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1248px;
  height: 22.5vw;
  margin-left: -112px;
  position: relative;
}

.title {
  position: absolute;
  left: 50%;
  bottom: 20px;
  font-weight: 500;
  transform: translate(-50%);
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
